#articlesSection{
    max-width: 1200px;
    margin:0 auto;
    padding: 64px 0 calc(64px - 32px) 0;
    /*calc ensures that the bottom padding will be the same as the top padding
    the difference of 32px comes from the margin-bottom that the article li elements add*/
}

#articlesSection .title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 64px;
}
/* 
        Article ul 
-----------------------------
*/
.articles li{
    display: inline-block;
    width: 30%;
    margin-right: 4.6%;
    margin-bottom: 32px;
    vertical-align: top;
}

/* 1. we override the margin-right:4.6% from above for every 3rd li element 
to avoid it getting on a new line, as li element width is 30% => 3 li elements = 90% and we add 2 x 5% in between => 100%
2. another way to do it is by replacing the margin-right: 4.6% in the parent element
and directly using .articles li:not(nth-child(3n+3)){
    margin-right:4.6%;
}*/
.articles li:nth-child(3n+3){
    margin-right:0;
}
/* 
        Article component 
-----------------------------
*/
.article{
    width: 100%;
    /* width is calculated as 100% of the parent element li */
}

/* in the html file we additionally create a div element around the image and give him the class img_wrapper
in order to set the aspect ration of the image, that will fit in its parent element with "object-fit"*/
.article .article__img_wrapper{
    aspect-ratio: 1/1;
    border-radius:21px;
    margin-bottom: 12px;
    overflow: hidden;
     /* the part of our image that comes out of this wrapper should not be visible, so that the border-radius is still showing */
}

.article .article__img_wrapper .article__img{
    object-fit: cover;
    /* object-fit: contain; will make the image squeeze in the stated ration, which might not be the same as the image ratio*/
    height: 100%;
    width: 100%;
}

.article .article__title{
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.article .article__desc{
    font-size: 16px;
    font-weight: 300;
    color: #718096;
    line-height: 22px;
}

/* 
        Tag component 
-----------------------------
*/
.tag{
    display: inline-block;
    margin-bottom: 12px;
    font-size:14px;
    padding: 6px 12px;
    border-radius: 6px;
}

.tag.tag--info{
    background-color: #90cdf4;
    color: #2c5282;
}

.tag.tag--success{
    background-color: #9ae6b4;
    color: #276749;
}

.tag.tag--warn{
    background-color: #faf089;
    color: #975a16;
}

.tag.tag--danger{
    background-color: #feb2b2;
    color: #9b2c2c;
}