html{
    padding: 100px;
    box-sizing: border-box;
}

.container{
    max-width: 65vw;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
}

.week{
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 100px;
}

.notes{
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
}
span{ 
    border: 1px solid black;
}

.week.title{
    flex: 1 1 100px;
}

.week span{
    flex: 5 1 20px;
}